<!DOCTYPE html>
<html>
<head>
	<title>Find a Hike!</title>
	<% include ../style%>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/userProfileStyle.css">
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
function initialize() {
		var center = new google.maps.LatLng(47.620499,-122.350876);
	  	var mapProp = {
		    center:center,
		    zoom:5,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
	  	};

	  	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

	  	var marker=new google.maps.Marker({
  			position:center,
  		});

		marker.setMap(map);
		var infowindow = new google.maps.InfoWindow({
  			content:"You're here!"
  		});

		infowindow.open(map,marker);
		 var locations = [];
	}
	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</head>
</head>
<body>
	<% include ../header %>
	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-8">
					<div class="jumbotron">
						<div class="col-md-4">
							<i class="fa fa-sun-o fa-cog fa-5x"></i>

						</div>

						<div class="col-md-8">
							<%if(currentWeather){ %>
								<p>
							  	<%= currentWeather.weather[0].main %>
								</p>
								<p>
								 	<small>
								 		<%= currentWeather.main.temp %>
								 	</small>
								</p>
							<%}%>
						</div>

						<br>
						<br>
						<br>
					</div>
					<div id="googleMap" style="width:100%;height:380px;"></div>
					<script>
	var locations = "<%= searchResults %>";
	console.log(locations);

	// function initialize() {
		var center = new google.maps.LatLng(47.620499,-122.350876);
	  	var mapProp = {
		    center:center,
		    zoom:5,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
	  	};

	  	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

	  	var marker=new google.maps.Marker({
  			position:center,
  		});

		marker.setMap(map);
		var infowindow = new google.maps.InfoWindow({
  			content:"You're here!"
  		});

		infowindow.open(map,marker);
		 var locations = [];

		 var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i].latitdue, locations[i].longitude),
            map: map
          });

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i].name);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
	// }
	// google.maps.event.addDomListener(window, 'load', initialize);
	</script>
				</div>
				<div class="col-md-4">
				<div class="jumbotron">
					<form method="POST" action="/hikes">
					<label for="seach">Search for Hike</label>
						<div class="form-group">
							<label for="seach">Name</label>
							<input type="search" class="form-control"name="search" id="search" placeholder="name">
						</div>

						<div class="form-group">
							<label for="elevation">Elevation</label>

							<select class="form-control" name="elevation" id="elevation">
							  	<option>Easy</option>
							  	<option>Medium</option>
							  	<option>Hard</option>
							</select>
						</div>

						<div class="form-group">
							<label for="zipcode">Zipcode</label>
							<input type="text" class="form-control"name="zipcode" id="zipcode">
						</div>

						<div class="form-group">
							<label for="radius">Radius</label>
							<input type="text" class="form-control"name="radius" id="radius">
						</div>

						<button type="submit" class="btn btn-danger btn-cog btn-block">Find Me A Hike
					   	</button>

					   	<br>
					</form>

                    <%if(searchResults){%>
                        <%searchResults.forEach(function(result){%>
                            <p> <small><%= result.name %> </small></p>
                            <form action="/users/favourite" method="post">
                                <input type="hidden" name="hiddenName" value="<%= result.name %>">
                                <input type="submit" class="btn btn-danger btn-cog" name="name" value="Favorite">
                            </form>
                            <!-- <a href="" class="btn btn-danger btn-cog">Favourite</a> -->

                        <%})%>
                    <%}%>
				</div>


				</div>
			</div>
		</div>
	</div>
	<% include ../footer %>
</body>
</html>
